.form-infomation-container {
  width: 80%;
  margin-bottom: 50px;
  .form-infomation__title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .form-infomation__input--change {
    font-size: 14px;
    text-decoration: underline;
    font-weight: 300;
  }
}
