.show-card-container {
  cursor: pointer;
  background: #fff;
  width: 260px;
  height: 400px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid black;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  .show-card__img {
    margin-top: 13px;
    width: 100%;
    height: 230px;
    object-fit: cover;
  }
  .show-card__wrapper {
    flex-grow: 1;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 13px 13px;
  }
  .show-card__name,
  .show-card__price {
    font-size: 16px;
    font-weight: 480;
  }
  .show-card__type,
  .show-card__size {
    font-size: 16px;
    font-weight: 380;
  }
}
