.navbar {
  font-family: "Lora", serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  &-item {
    font-size: 18px;
    font-weight: 650;
  }
  li {
    font-family: "Lora", sans-serif !important;
  }
}
