.button-fodoshi {
  background-color: var(--bg-color, transparent) !important;
  color: var(--color, black) !important;
  &.active {
    background-color: #3498db;
    color: #ffffff;
    font-weight: bold;
  }
}
.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: #000000;
  border-color: #000000;
  background: #f0f0f0;
}
.btn-sign {
  &-status {
    &-danger {
      background-color: #ff0004 !important;
      color: #fff !important;
      &:hover {
        background-color: #ff7875 !important;
        border-color: #ff7875 !important;
      }
    }
    &-disabled {
      background-color: #f0f0f0 !important;
      color: #000000 !important;
      border-color: #f0f0f0 !important;
    }
    &-success {
      background-color: #069806 !important;
      color: #fff !important;
      &:hover {
        background-color: #288728 !important;
        border-color: #288728 !important;
      }
    }
  }
}
