.male-page-banner__img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.male-page__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .male-page__title {
    line-height: 1em;
    font-size: 66px;
    font-weight: 650;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 40px;
  }
  .male-page__wrapper {
    width: 100%;
    min-height: 100vh;
    .male-page__aside {
      background-color: #f0eee6;
      &__item {
        background-color: #d9d9d9;
        display: flex;
        align-items: start;
        justify-content: center;
        margin-bottom: 15px;
        &--title {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 10px;
        }
      }
    }

    .male-page__products {
      padding: 40px 30px;
    }

    .male-page__cart {
      padding: 40px 30px;
    }
  }
}
.male-page__aside {
  padding: 40px 15px;
}

.male-page__aside__item--title {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  font-size: 16px;
}

.filter-button {
  background-color: #d9d9d9;
  border-radius: 8px;
  padding: 8px 16px;
}

.filter-button:hover {
  background-color: #e6e6e6;
}

.ant-collapse-header {
  color: #333;
  font-weight: 500;
  font-size: 14px;
  background-color: #f0eee6;
}

.ant-collapse-content-box {
  background-color: #f0eee6;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.ant-collapse {
  border: none;
}
.ant-collapse > .ant-collapse-item {
  border: none;
}
